.headerbar {
    display: flex;
    justify-content: space-evenly;
    background-color:  #000000;
    width: 100%;
    height: 80px;
    align-items: center;
    
    }
    .tocarrinho{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: Inter;
        
    }
    .carticon3{
        font-size: 40px;
    }
    .tocarriho p{
        font-size: 32px;
        font-weight: bold;
    }
    .content{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 300px;
        justify-content: space-around;
    }
    .content1{
        width: 10px;
        font-family: Inter;
        font-size: 15px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .legal{
        text-decoration: none;
    }
    .search{
        display: flex;
        background-color: black;
        height: 40px;
        width: 400px;
        border-radius: 10px;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }
    
    .search input{
        padding: 10px;
        width: 540px;
        height:40px   ;
        border: none;
        background-color: white;
    }
    .search :focus{
        outline: none;
    }
    
    .headerbar h1{
        font-family: "Julius Sans One", sans-serif;
        color: #FFD700;
        margin-bottom: 20px;
    }

    .headerbar h1{
        margin-bottom: 10px ;
    }
    .carticon{
        font-size: 55px;
        color: white;
        transition: 0.5s;
    }

    
    .menuicon{
        font-size: 35px;
    }
    .searchicon{
        font-size: 35px;
    }
    .usericon{
        font-size: 30px;
        color: white;
        transition: 0.5s;
    }

    .usericon:hover{
        color: #FFD700;
    }
    .carticon:hover{
        color: #FFD700;
    }
    
    .legal:hover{
        animation: skew-y-shake 1.3s;
    }

    @keyframes skew-y-shake {
        0% { transform: translateX(0) }
        25% { transform: translateX(5px) }
        50% { transform: translateX(-5px) }
        75% { transform: translateX(5px) }
        100% { transform: translateX(0) }
      }

    @media only screen and (max-width: 600px) {
       
        .carticon{
            font-size: 35px;
        }
        .menuicon{
            font-size: 25px;
        }
        .searchicon{
            font-size: 95px;
        }
        .usericon{
            font-size: 25px;
        }

        .search{
            display: flex;
            background-color: black;
            height: 40px;
            width: 110px;
            border-radius: 10px;
            justify-content: start;
            align-items: center;
            overflow: hidden;
        }
        .headerbar h1{
            font-size: 15px;
        }
        .content{
            display: flex;
            flex-direction: row;
            gap: 1px;
            width:100px;
            justify-content: space-around;
        }
        .content1{
            width: 4px;
            font-family: Inter;
            font-size: 10px;
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
        }
    }