.cadastro{
    width: 1000px;
    height: 500px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: solid 1px;
    font-family: Inter;
    
}

.pd2 li{
 margin-left: 20px;
}
body {
    margin: 0;
    padding: 0;
  }

.regback{
    background-color: black;
    height: 100vh;
}
.cadastro input{
    font-family: inter;
}
.cadastro button {
    font-family: Inter;
}
.cadastro button{
    width: 300px;
    height: 100px;
}

.cadastrogrid{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.cadastrocontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.paia3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.imgcadastro{
    background-color: rgb(255, 255, 255);
    height: 230px;
    width: 250px;
    border: solid 1px black;
    overflow: hidden; /* Esconde o excesso */
    position: relative}
.imgcadastro img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preenche a altura ou largura da div */
    object-position: center; /* Centraliza a parte visível da imagem */
}
@media only screen and (max-width: 600px){
    .cadastro{
        width: 100%;
        height: auto;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20x''px;
        align-items: center;
        font-size: 11px;
        
    }
    .cadastrogrid{
        width: 300px;
         height: auto;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}