*{
    margin: 0;
    padding: 0;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100vh
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .button--unstyled {
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
  }

  html{
    height: 100vh;
  }