.histgrid {
    width: 940px;
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 30px;
    margin: 30px;
}

.hist {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.hist h1 {
    font-family: Inter;
    font-style: italic;
    margin-bottom: 30px;
    color: white;
}

.trashicon1{
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .histgrid {
        width: 300px; 
        gap: 20px;
        align-items: center; 
    }
    .hist {
        font-size: 9px; 
    }
}
