main {
    background-color: white;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #291d27;
}
.banner1 {
    width: 1050px;
    height: 455px;
    background-image: url(../assets/images/logo_nova.png);
}

.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 170px;
    height: 170px;
    border-radius: 100px;
    border: solid 5px;
}

.categoriagrid {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.losfavoritos {
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: Inter;
    color: #4d2059;
}

.favgrid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.about {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.aboutus {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #180741;
    display: flex;
    flex-direction: column;
    width: 1090px;
    height: 408px;
    border: solid #180741 4px;
    border-radius: 20px;
}

.aboutus p {
    font-size: 20px;
    color: white;
    font-family: Inter;
}

.aboutus h1 {
    margin-bottom: 30px;
    font-family: Inter;
    font-style: italic;
    color: #ffdf00;
}

.foto {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
    overflow: hidden;
    border: #180741 solid 2px;
}

.OpnioesGrid {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.opniao {
    gap: 16px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: Inter;
    text-align: center;
    border: #180741 solid 2px;
}

.footer1 {
    background-color: #000000;
    width: 100%;
    display: flex;
    height: 110px;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
.footercontent {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    font-family: Inter;
    margin-top: 30px;
    color: white;
    text-decoration: none;
}

footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 7px;
    color: white;
}
footer p {
    font-family: Inter;
    font-size: 7px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .categorias {
        width: 65px;
        height: 65px;
        border: solid 1px;
    }
    .categoriagrid {
        height: 100px;
    }
    .catimg {
        width: 70%;
    }
    .losfavoritos {
        margin-top: 10px;
        flex-direction: column;
        display: flex;
        align-items: center;
        font-family: Inter;
        color: #4d2059;
    }
    .populares {
        width: 100px;
    }
    .about {
        margin-top: 20px;
    }
    .aboutus {
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #180741;
        display: flex;
        flex-direction: column;
        width: 370px;
        height: auto;
        border: solid #180741 4px;
        border-radius: 10px;
    }
    .aboutus p {
        font-size: 15px;
        color: white;
        font-family: Inter;
    }
    .foto {
        width: 100px;
        height: 100px;
    }
    .foto1 {
        width: 100px;
    }
    .OpnioesGrid {
        margin-top: 60px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 60px;
    }
    .opniao {
        gap: 16px;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        font-family: Inter;
        text-align: center;
        border: #180741 solid 2px;
        font-size: 11px;
    }
    .footer1 {
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        color: white;
    }
    .footercontent {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        font-size: 9px;
        font-family: Inter;
        margin-top: 30px;
    }
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        font-size: 7px;
        color: white;
        gap: 10px;
    }
    footer p {
        font-family: Inter;
        font-size: 7px;
        margin-bottom: 20px;
    }
}
