.logincont {
    background-color: white;
    height: 471px;
    width: 543px;
    padding: 20px;
    display: flex   ;
    flex-direction: column;
    align-items: center;
}

.logback{
    display: flex;
    width: 100%;
    justify-content: center ;
    align-items: center;
    height: 650px;
}

.loggrid{
    width: 100%;
}
