.producticon {
    width: 280px;
    height: 350px;
    background-color: white;
    margin: 20px;
    display: flex;
    align-items: center;
   border: solid 1px;
    flex-direction: column;
    font-family: Inter;
}

.producticon h4{
    margin-top: 10px;
}
.producticon button{
    margin-top: 10px;
    width: 80%;
    height: 10%;
}
.imgproduct{
    height: 230px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    border: solid 1px black;
    overflow: hidden; /* Esconde o excesso */
    position: relative
}
.imgproduct img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preenche a altura ou largura da div */
    object-position: center; /* Centraliza a parte visível da imagem */
    
}
.productcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productgrid{
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px){
    .producticon {
        width: 120px;
        height: 190px;
        background-color: white;
        margin: 10px;
        font-size: 9px;
    }
    .imgproduct{
        height: 90px;
        width: 110px;
        background-color: black;
        margin-top: 10px;
    }
    .producticon button{
        margin-top: 5px;
        width: 100px;
        height: 40px;
    }
}